.ant-slider-track,
.ant-slider-handle,
.ant-slider-handle::after {
  background: rgba(236, 94, 42, 1) !important;
  box-shadow: 0 0 0 0px rgba(236, 94, 42, 1) !important;
  border-radius: 15px;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(236, 94, 42, 1) !important;
  border-color: rgba(236, 94, 42, 1) !important;
}
.ant-checkbox {
  border: 1px solid;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 1020px) {
  .valute {
    font-size: 12px;
    margin-right: 10px;
  }
}
